header {
  //opacity: 0.8;
  height: 320px;
  background-image: url("../imgs/Header-Area.png");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  .navbar {
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .leftArea,
    .rightArea {
      align-items: center;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      .menu {
        position: relative;
        .menuList {
          display: flex;
          gap: 10px;
          #lang:hover {
            .langList {
              height: 60px;
              background-color: rgba(255, 255, 255, 0.3);
              li:hover {
                color: #0ff7f0;
              }
            }
          }
        }
        .langList {
          overflow: hidden;
          text-align: center;
          right: -10px;
          padding: 5px;
          position: absolute;
          // border: 1px solid blue;
          width: 40px;
          background-color: transparent;
          //  background-color: rgba(255, 255, 255, 0.3);
          border-radius: 10px;
          transition: 500ms;
          height: 0;
        }
      }

      .menu,
      .watchlist,
      .signIn {
        border-radius: 10px;
        padding: 10px;
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        
      }
      .watchlist{
        position: relative;
        
        .movies{
          border-radius: 10px;
          padding: 10px;
          right: 0;
          width: 230px;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.4);
          opacity: 0;
          transition: 500ms;
          .xmark{
          
           position: absolute;
           right: -5px;
           top: -5px;
           color:#fff;
           border-radius: 50%;
           background-color: rgba(255, 255, 255, 0.5);
           font-size: 20px;
          }
        
          li{
          
            background-color: #1F1F1F;
            display: flex;
            margin: 8px 0;
            gap: 8px;
            align-items: center;
            border-radius: 5px;
            img{
              width: 70px;
              height: 40px;
            }
          }
        }
        .opacity{
          opacity: 1;
        }
      }
    }
  }
  .mobilNavbar{
    display: none;
  }

  @media screen and (max-width: 768px) {
    .navbar{
      display: none;
    }
    .mobilNavbar{
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 100vh;
      .hamburger{
        font-size: 24px;
      }
      .leftMenu{
        position: absolute;
        background-color: #000000;
        width: 240px;
        //max-height: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        //display: flex;
        flex-direction: column;
        
        justify-content: space-between;
        display: none;
        //padding-top: 40px;
        padding-bottom: 20px;
        li{
          margin: 10px 0;
        }
        h2{
          margin-top: 20px;
        }
        select{
          
          border: none;
          background-color: #000000;
          color: #ffffff;
          font-size: 18px;
          width: 50px;
        }
      }
      .myDisplay{
        display: flex;

      }

    }
  }

}

