@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.container {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
}

header {
  height: 320px;
  background-image: url("../imgs/Header-Area.png");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
header .navbar {
  padding-top: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .navbar .leftArea,
header .navbar .rightArea {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header .navbar .leftArea .menu,
header .navbar .rightArea .menu {
  position: relative;
}
header .navbar .leftArea .menu .menuList,
header .navbar .rightArea .menu .menuList {
  display: flex;
  gap: 10px;
}
header .navbar .leftArea .menu .menuList #lang:hover .langList,
header .navbar .rightArea .menu .menuList #lang:hover .langList {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
}
header .navbar .leftArea .menu .menuList #lang:hover .langList li:hover,
header .navbar .rightArea .menu .menuList #lang:hover .langList li:hover {
  color: #0ff7f0;
}
header .navbar .leftArea .menu .langList,
header .navbar .rightArea .menu .langList {
  overflow: hidden;
  text-align: center;
  right: -10px;
  padding: 5px;
  position: absolute;
  width: 40px;
  background-color: transparent;
  border-radius: 10px;
  transition: 500ms;
  height: 0;
}
header .navbar .leftArea .menu,
header .navbar .leftArea .watchlist,
header .navbar .leftArea .signIn,
header .navbar .rightArea .menu,
header .navbar .rightArea .watchlist,
header .navbar .rightArea .signIn {
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
}
header .navbar .leftArea .watchlist,
header .navbar .rightArea .watchlist {
  position: relative;
}
header .navbar .leftArea .watchlist .movies,
header .navbar .rightArea .watchlist .movies {
  border-radius: 10px;
  padding: 10px;
  right: 0;
  width: 230px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: 500ms;
}
header .navbar .leftArea .watchlist .movies .xmark,
header .navbar .rightArea .watchlist .movies .xmark {
  position: absolute;
  right: -5px;
  top: -5px;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
header .navbar .leftArea .watchlist .movies li,
header .navbar .rightArea .watchlist .movies li {
  background-color: #1F1F1F;
  display: flex;
  margin: 8px 0;
  gap: 8px;
  align-items: center;
  border-radius: 5px;
}
header .navbar .leftArea .watchlist .movies li img,
header .navbar .rightArea .watchlist .movies li img {
  width: 70px;
  height: 40px;
}
header .navbar .leftArea .watchlist .opacity,
header .navbar .rightArea .watchlist .opacity {
  opacity: 1;
}
header .mobilNavbar {
  display: none;
}
@media screen and (max-width: 768px) {
  header .navbar {
    display: none;
  }
  header .mobilNavbar {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  header .mobilNavbar .hamburger {
    font-size: 24px;
  }
  header .mobilNavbar .leftMenu {
    position: absolute;
    background-color: #000000;
    width: 240px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    padding-bottom: 50px;
  }
  header .mobilNavbar .leftMenu li {
    margin: 10px 0;
  }
  header .mobilNavbar .leftMenu h2 {
    margin-top: 40px;
  }
  header .mobilNavbar .leftMenu select {
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    width: 50px;
  }
  header .mobilNavbar .myDisplay {
    display: flex;
  }
}
header .volume {
  float: right;
  margin-top: 120px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
}

.signInWindow, .signUp {
  transition: 500ms;
  display: none;
  font-weight: bold;
  gap: 20px;
  color: #ffffff;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  width: 400px;
  height: 450px;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(to right, rgba(182, 186, 189, 0.9), rgba(182, 186, 189, 0.8));
}
.signInWindow #delet, .signInWindow #delete, .signUp #delet, .signUp #delete {
  position: absolute;
  right: -5px;
  top: -7px;
  font-size: 24px;
  background-color: rgba(93, 99, 102, 0.5);
  border-radius: 50%;
}
.signInWindow input, .signUp input {
  height: 40px;
  width: 300px;
  background-color: #0d0d0d;
  border: none;
  border-radius: 8px;
  padding-left: 8px;
  margin: 10px 0;
  color: #ffffff;
}
.signInWindow input::-moz-placeholder, .signUp input::-moz-placeholder {
  color: #ffffff;
}
.signInWindow input::placeholder, .signUp input::placeholder {
  color: #ffffff;
}
.signInWindow .SignUpDiv, .signUp .SignUpDiv {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.signInWindow .SignUpDiv a, .signUp .SignUpDiv a {
  text-shadow: 2px 2px 2px #808080;
}
.signInWindow .SignUpDiv button, .signUp .SignUpDiv button {
  background-color: rgba(255, 255, 255, 0.1);
  width: 134px;
  height: 40px;
  border: 1px solid #0ff7f0;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
}

.signUp {
  text-align: center;
}
.signUp button {
  background-color: rgba(255, 255, 255, 0.1);
  width: 134px;
  height: 40px;
  border: 1px solid #0ff7f0;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 415px) {
  .signUp {
    width: 280px;
  }
  .signUp input {
    width: 260px;
  }
}
#mainHeroSection {
  background-color: #1f1f1f;
  color: #ffffff;
}
#mainHeroSection .mainCaruselContainer,
#mainHeroSection .slidesToShow {
  position: relative;
  display: flex;
}
#mainHeroSection .mainCaruselContainer .card,
#mainHeroSection .slidesToShow .card {
  transition: 500ms;
  margin: 10px;
}
#mainHeroSection .mainCaruselContainer .card .nameDate,
#mainHeroSection .slidesToShow .card .nameDate {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
#mainHeroSection .mainCaruselContainer .card .nameDate #date,
#mainHeroSection .slidesToShow .card .nameDate #date {
  display: none;
}
#mainHeroSection .mainCaruselContainer .card .buttonDiv,
#mainHeroSection .slidesToShow .card .buttonDiv {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 50px;
}
#mainHeroSection .mainCaruselContainer .card .buttonDiv div i,
#mainHeroSection .slidesToShow .card .buttonDiv div i {
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainHeroSection .mainCaruselContainer .card .buttonDiv div #play,
#mainHeroSection .slidesToShow .card .buttonDiv div #play {
  height: 35px;
  width: 35px;
  background-image: linear-gradient(#0ff7f0, #d686ff);
}
#mainHeroSection .mainCaruselContainer .card .buttonDiv div .red,
#mainHeroSection .slidesToShow .card .buttonDiv div .red {
  color: #ff0000;
}
#mainHeroSection .mainCaruselContainer .card .buttonDiv div .black,
#mainHeroSection .slidesToShow .card .buttonDiv div .black {
  color: #000000;
}
#mainHeroSection .mainCaruselContainer .card:hover,
#mainHeroSection .slidesToShow .card:hover {
  scale: 1.2 1.1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
#mainHeroSection .mainCaruselContainer .card:hover #date,
#mainHeroSection .slidesToShow .card:hover #date {
  display: block;
}
#mainHeroSection .mainCaruselContainer .card:hover .buttonDiv,
#mainHeroSection .slidesToShow .card:hover .buttonDiv {
  display: flex;
}
#mainHeroSection .mainCaruselContainer .slick-prev,
#mainHeroSection .mainCaruselContainer .slick-next,
#mainHeroSection .slidesToShow .slick-prev,
#mainHeroSection .slidesToShow .slick-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 70px;
  width: 70px;
  position: absolute;
  z-index: 1;
  top: 55px;
  border: none;
  border-radius: 50%;
  /* position: absolute;
          display: block;
          height: 20px;
          width: 30px;
          line-height: 0px;
          font-size: 0px;
          cursor: pointer;
          background: transparent;
          color: transparent;
          top: 50%;
          margin-top: -10px;
          padding: 0;
          border: none;
          outline: none; */
}
#mainHeroSection .mainCaruselContainer .slick-prev i,
#mainHeroSection .mainCaruselContainer .slick-next i,
#mainHeroSection .slidesToShow .slick-prev i,
#mainHeroSection .slidesToShow .slick-next i {
  font-size: 20px;
}
#mainHeroSection .mainCaruselContainer .slick-prev,
#mainHeroSection .slidesToShow .slick-prev {
  left: 25px;
}
#mainHeroSection .mainCaruselContainer .slick-next,
#mainHeroSection .slidesToShow .slick-next {
  right: 25px;
}

.view {
  display: flex;
}

.myOpacity {
  opacity: 0.8;
}